mat-sidenav{
    width: 200px;
    padding: 20px;
    background-color: #3f51b5;
}

mat-sidenav-content{
    padding: 20px;
}

mat-sidenav-container{
    height: 100%;
}

mat-icon {
    cursor: pointer;
  }

  mat-sidenav a {
    display: block;
    padding: 8px 16px; 
    text-decoration: none;
    color: white; 
  }

  mat-sidenav a:hover {
    background-color: #E0E0E0; 
    color: #000; 
  }
  