<form (ngSubmit)="performlogin()">
    <mat-form-field>
         <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="username" name="username" [(ngModel)] = "username" required>
        <mat-hint>6 characters minimum</mat-hint>
    </mat-form-field>
    <br><br>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="password" name="Password" [(ngModel)] = "password" required>  
    </mat-form-field>
    <br><br> 
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
    {{message}}
